.footer {
  background-color: #d8d8d8;
}

.footerContent {
  background-color: #d8d8d8;
  color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 0.8rem;
  margin-top: 2.6rem;
  margin-bottom: 0;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  max-height: 15%;
}
