.footer {
  background-color: #d8d8d8;
}

.footerContent {
  background-color: #d8d8d8;
  color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 0.8rem;
  margin-bottom: 0;

  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
}
