#navbarElement {
  font-family: "Heebo", sans-serif;
}

.ommcImage {
  width: 43px;
}

#navBar {
  background-image: linear-gradient(to right, lightgray, #f5f5f5);
}

#atlasLogo {
  font-weight: bold;
}
