.ProfileContainer {
  display: flex;
  min-height: 100vh;
}
.emailContainer {
  border-radius: 0.5rem;
  background-color: rgb(236, 236, 236);
  font-weight: bold;
}

.ProfileHeader {
  background-image: linear-gradient(to right, rgb(199, 174, 174), white);
  color: black;
  font-size: 2rem;
  padding: 2rem;
  font-weight: bold;
  width: 100%;
  flex: 1;
}

.ProfileBody {
  color: black;
  width: 60vw;
  padding: 2rem;
  text-align: center;
  /* border-top: 0.2rem solid gray; */
  font-size: 1.5rem;
  /* border-radius: 0.5rem; */
  background-color: #af3940;
}

.signoutButton {
  background-color: tomato;
  margin-top: 2rem;
  border: none;
  border-radius: 0.5rem;
}

.bodyContents {
  padding: 2rem;
  background-color: rgb(199, 199, 199);
  border-radius: 0.9rem;
}

.FavoritedContainer {
  border-radius: 0.5rem;
  background-color: rgb(236, 236, 236);
}
