.questionColumn {
  display: block;
  position: relative;
  overflow: auto;
  flex: 100%;
}

.solutionColumn {
  position: relative;
  overflow: auto;
  flex: 100%;
}

.questionInternal {
  min-height: 7rem;
  max-height: 7rem;
  width: 24rem;
  min-width: 100%;
  max-width: 100%;
  flex: 100%;
  position: relative;
  color: black;
  text-decoration: none;
}
.solutionInternal {
  overflow: auto;
  min-height: 7rem;
  max-height: 7rem;
  width: 24rem;

  min-width: 100%;
  max-width: 100%;
  flex: 100%;
  position: relative;
  color: black;
  text-decoration: none;
}
.questionColumn a:hover {
  text-decoration: none;
}
.questionRow {
  min-width: 18rem;
  max-width: 18rem;
  flex: 100%;
  text-align: center;
  position: relative;
}

.solutionRow {
  min-width: 18rem;
  max-width: 18rem;
  flex: 100%;
  text-align: center;
  position: relative;
}

.dropDown {
  font-weight: bold;
}

.heroIcon {
  display: inline-block;

  width: 20px;
}

.heroForm {
  flex: 100%;

  display: inline-block;
}

#questionTable {
  border: 0.2rem solid gray;
  border-radius: 50px !important;
}

.tableHead {
  border-radius: 50px !important;
}

.tableLinkElement {
  color: black;
  text-align: center;
}

.tableColumnElement a:hover {
  color: black;
  text-decoration: none;
}

.dropDowns {
  text-align: center;
}
