.questionColumn {
  display: block;
  position: relative;
  overflow: auto;
  flex: 100%;
}

.solutionColumn {
  position: relative;
  overflow: auto;
  flex: 100%;
}

.questionInternal {
  min-height: 7rem;
  max-height: 7rem;
  width: 24rem;
  min-width: 100%;
  max-width: 100%;
  flex: 100%;
  position: relative;
  color: black;
  text-decoration: none;
}
.solutionInternal {
  overflow: auto;
  min-height: 7rem;
  max-height: 7rem;
  width: 24rem;

  min-width: 100%;
  max-width: 100%;
  flex: 100%;
  position: relative;
  color: black;
  text-decoration: none;
}
.questionColumn a:hover {
  text-decoration: none;
}
.questionRow {
  min-width: 18rem;
  max-width: 18rem;
  flex: 100%;
  text-align: center;
  position: relative;
}

.solutionRow {
  min-width: 18rem;
  max-width: 18rem;
  flex: 100%;
  text-align: center;
  position: relative;
}

.dropDown {
  background-color: #f0f0f0;
  border-radius: 5px;
  font-weight: bold;
  border: 0.1rem solid black;
}

.heroIcon {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
}

.heroForm {
  flex: 100%;

  display: inline-block;
}

#questionTable {
  border: 0.2rem solid gray;
  border-radius: 0.5rem;
  margin-bottom: 2.6rem;
  background-color: rgb(243, 243, 243);
}
#questionTable tr:nth-child(even) {
  background-color: #d8d8d8;
}
.tableBody {
  overflow: auto;
}

.tableHead {
  background-color: rgb(199, 174, 174);
  border-radius: 5px;
}

.tableLinkElement {
  color: black;
  text-align: center;
}

.tableColumnElement a:hover {
  color: black;
  text-decoration: none;
}

.dropDowns {
  text-align: center;
}

.SearchInput {
  width: 50rem;
  margin: 5px;
  border-radius: 5px;
  position: relative;
  flex: 100%;
}

.ListContent {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.AtlasDatabaseHeader {
  font-size: 1.7rem;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  /* background-color: #e54a54;
  border: 0.2rem solid gray; */
  width: 25rem;
  border-radius: 5px;
  position: relative;
  flex: 100%;
}

.searchForm {
  border: 0.2rem solid gray;
  border-radius: 7px;
  height: 47px;

  background-color: lightgray;
  text-align: center;
}

.viewQuestion {
  border-radius: 4px;
  background-color: #d8d8d8;
}
