.Form {
  width: 22rem;
  height: 30rem;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border: 0.15rem solid gray;
}
.SignUpPage {
  background-color: #c9424b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.inputs {
  text-align: center;
}
.Form #submit {
  background-color: salmon;
  flex: 100%;
  border: none;
  border-radius: 7px;
}
.Form #logInsubmit {
  background-color: whitesmoke;
  flex: 100%;
  border: none;
  border-radius: 7px;
}

.Form .inputs .ErrorMessage {
  cursor: pointer;
  color: #b70c13;
}

.Form .inputs .ErrorState {
  background-color: lightcoral;
  border: lightcoral;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.DefaultForm {
  border: 0.2rem solid white;
  border-radius: 7px;
  display: inline-flex;
  flex: 100%;
  width: 70%;
}

.heroIcons {
  width: 10%;
  display: inline-block;
  margin-right: 0.6rem;
  color: gray;
}

.formElement {
  /* border: 0.2rem solid gray; */
  border-radius: 7px;
  background-color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.formElementContainer {
  text-align: center;
}

.title {
  margin-top: 10%;
  font-weight: bold;
  margin-bottom: 2rem;
}
